## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
spec/test-imdb-database/lucene/

## PROJECT::SPECIFIC

##Netbeans
nbproject

##Rubymine
.idea
